<a href="https://colab.research.google.com/github/arnab000/Machine_learning_Assignments/blob/main/Problem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np           
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("/content/drive/MyDrive/datasets/bank-full.csv",sep=';')
data.shape

(45211, 17)

In [23]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0.519481,0.000000,0.0,0.000000,0,0.092259,1,0,0.0,0.133333,0.363636,0.053070,0.0,0.0,0.0,0.0,0
1,0.337662,0.090909,0.5,0.333333,0,0.073067,1,0,0.0,0.133333,0.363636,0.030704,0.0,0.0,0.0,0.0,0
2,0.194805,0.181818,0.0,0.333333,0,0.072822,1,1,0.0,0.133333,0.363636,0.015453,0.0,0.0,0.0,0.0,0
3,0.376623,0.272727,0.0,0.666667,0,0.086476,1,0,0.0,0.133333,0.363636,0.018707,0.0,0.0,0.0,0.0,0
4,0.194805,0.363636,0.5,0.666667,0,0.072812,0,0,0.0,0.133333,0.363636,0.040260,0.0,0.0,0.0,0.0,0

In [24]:
data.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
45206,0.428571,0.090909,0.0,0.000000,0,0.080293,0,0,0.5,0.533333,0.909091,0.198658,0.032258,0.000000,0.000000,0.000000,1
45207,0.688312,0.454545,1.0,1.000000,0,0.088501,0,0,0.5,0.533333,0.909091,0.092721,0.016129,0.000000,0.000000,0.000000,1
45208,0.701299,0.454545,0.0,0.333333,0,0.124689,0,0,0.5,0.533333,0.909091,0.229158,0.064516,0.212156,0.010909,1.000000,1
45209,0.506494,0.272727,0.0,0.333333,0,0.078868,0,0,1.0,0.533333,0.909091,0.103294,0.048387,0.000000,0.000000,0.000000,0
45210,0.246753,0.181818,0.0,0.333333,0,0.099777,0,0,0.5,0.533333,0.909091,0.073404,0.016129,0.216743,0.040000,0.666667,0

In [6]:
columns_null_values = []

In [10]:
def column_null_values(df):
    for column in df:
        number_of_null_values = df[column].notnull().sum()
        print(column," ",number_of_null_values)
        if number_of_null_values < 45211 :
            columns_null_values.append(column)

In [11]:
column_null_values(data)

age   45211
job   45211
marital   45211
education   45211
default   45211
balance   45211
housing   45211
loan   45211
contact   45211
day   45211
month   45211
duration   45211
campaign   45211
pdays   45211
previous   45211
poutcome   45211
y   45211

In [12]:
def unique_values_column(df):
    for col in df:
        print(f'{col} : {df[col].unique()}')

In [13]:
unique_values_column(data)

age : [58 44 33 47 35 28 42 43 41 29 53 57 51 45 60 56 32 25 40 39 52 46 36 49
 59 37 50 54 55 48 24 38 31 30 27 34 23 26 61 22 21 20 66 62 83 75 67 70
 65 68 64 69 72 71 19 76 85 63 90 82 73 74 78 80 94 79 77 86 95 81 18 89
 84 87 92 93 88]
job : ['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']
marital : ['married' 'single' 'divorced']
education : ['tertiary' 'secondary' 'unknown' 'primary']
default : ['no' 'yes']
balance : [ 2143    29     2 ...  8205 14204 16353]
housing : ['yes' 'no']
loan : ['no' 'yes']
contact : ['unknown' 'cellular' 'telephone']
day : [ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24 25  1 10 22 31]
month : ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
duration : [ 261  151   76 ... 1298 1246 1556]
campaign : [ 1  2  3  5  4  6  7  8  9 10 11 12 13 19 14 24 16 32 18 22 15 17 25 21
 43 51 63 41 26 28 55 50 38 23 20 29 31 37 30 46 27 58 33 35 34 36 39 44]
pdays : [ -1 151 166  91  86 143 147  89 140 176 101 174 170 167 195 165 129 188
 196 172 118 119 104 171 117 164 132 131 123 159 186 111 115 116 173 178
 110 152  96 103 150 175 193 181 185 154 145 138 126 180 109 158 168  97
 182 127 130 194 125 105 102  26 179  28 183 155 112 120 137 124 187 190
 113 162 134 169 189   8 144 191 184 177   5  99 133  93  92  10 100 156
 198 106 153 146 128   7 121 160 107  90  27 197 136 139 122 157 149 135
  30 114  98 192 163  34  95 141  31 199  94 108  29 268 247 253 226 244
 239 245 204 231 238 258 230 254 265  71 223 246 250 266 240 205 261 259
 241 260 234 251 225 161 237 262 248 255 220 227 206 224 249 235 228 263
   2 270 232 252 207 200 269 233 256 273 272 242 264 208 214 222 271 203
 221 202 216 201 257 229 210 217  75 213  73  76 267 211 215  77 236  82
   6 209 274   1 243 212 275  80 276   9 279  12 280  88 277  85  84 219
  24  21 282  41 294  49 329 307 303 331 308 300  64 314 287 330 332 302
 323 318 333  60 326 335 313 312 305 325 327 336 309 328 322  39 316 292
 295 310 306 320 317 289  57 321 142 339 301 315 337 334 340 319  17  74
 148 341 299 344 342 324 345 346 304 281 343 338  14 347  15 291 348 349
 285 350 284  25 283 278  81   4  87  83  79  70  13 293  37  78  63  22
 296 355  66  19  35 360 357 354 351 362 358 365 298 286 364 363  47 361
 288 366 356 352 359 297 367 353 368  42 290  67 371 370 369  50  36 373
 374 372 311 375 378  59 379  40  18  43  20  69  38 385  56  55  44 391
  72 390  32  62 399 393  65 377 395 388 389 386  61 412 405 434 394 382
 459 440 397 383  68 461 462 463 422  51 457 430 442 403 454 428 392 410
 401 474 475 477 478  54 476 380 479  45  46 495  58  48 518  52 515 520
 511 536 387 218  33 544 435 436 555 433 446 558 469 616 561 553 384 592
 467 585 480 421 667 626 426 595 381 376 648 521 452 449 633 398  53 460
 670 551 414 557 687 404 651 686 425 504 578 674 416 586 411 756 450 745
 514 417 424 776 396 683 529 439 415 456 407 458 532 481 791 701 531 792
 413 445 535 784 419 455 491 431 542 470 472 717 437   3 782 728 828 524
 562 761 492 775 579 493 464 760 466 465 656 831 490 432 655 427 749 838
 769 587 778 854 779 850 771 594 842 589 603 484 489 486 409 444 680 808
 485 503 690 772 774 526 420 528 500 826 804 508 547 805 541 543 871 550
 530]
previous : [  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
poutcome : ['unknown' 'failure' 'other' 'success']
y : ['no' 'yes']

In [14]:

data['marital'].replace({'married' : 0,'single' : 1, 'divorced': 2 },inplace=True)
data['education'].replace({'tertiary' : 0,'secondary' : 1, 'unknown': 2, 'primary': 3 },inplace=True)
data['default'].replace({'no' : 0,'yes' : 1},inplace=True)
data['housing'].replace({'no' : 0,'yes' : 1},inplace=True)
data['loan'].replace({'no' : 0,'yes' : 1},inplace=True)
data['contact'].replace({'unknown' : 0,'cellular' : 1, 'telephone': 2 },inplace=True)

data['poutcome'].replace({'unknown' : 0,'failure' : 1, 'other': 2, 'success': 3 },inplace=True)
data['y'].replace({'no' : 0,'yes' : 1},inplace=True)
data['job'].replace({'management' : 0,'technician' : 1, 'entrepreneur': 2,'blue-collar': 3, 'unknown' : 4,'retired' : 5 ,'admin.': 6,'services' : 7,
                        'self-employed' : 8,  'unemployed' : 9, 'housemaid' : 10,'student' : 11  },inplace=True)
data['month'].replace({'jan' : 0,'feb' : 1, 'mar': 2,'apr': 3, 'may' : 4,'jun' : 5 ,'jul': 6,'aug' : 7,
                        'sep' : 8,  'oct' : 9, 'nov' : 10,'dec' : 11  },inplace=True)

In [15]:
unique_values_column(data)

age : [58 44 33 47 35 28 42 43 41 29 53 57 51 45 60 56 32 25 40 39 52 46 36 49
 59 37 50 54 55 48 24 38 31 30 27 34 23 26 61 22 21 20 66 62 83 75 67 70
 65 68 64 69 72 71 19 76 85 63 90 82 73 74 78 80 94 79 77 86 95 81 18 89
 84 87 92 93 88]
job : [ 0  1  2  3  4  5  6  7  8  9 10 11]
marital : [0 1 2]
education : [0 1 2 3]
default : [0 1]
balance : [ 2143    29     2 ...  8205 14204 16353]
housing : [1 0]
loan : [0 1]
contact : [0 1 2]
day : [ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24 25  1 10 22 31]
month : [ 4  5  6  7  9 10 11  0  1  2  3  8]
duration : [ 261  151   76 ... 1298 1246 1556]
campaign : [ 1  2  3  5  4  6  7  8  9 10 11 12 13 19 14 24 16 32 18 22 15 17 25 21
 43 51 63 41 26 28 55 50 38 23 20 29 31 37 30 46 27 58 33 35 34 36 39 44]
pdays : [ -1 151 166  91  86 143 147  89 140 176 101 174 170 167 195 165 129 188
 196 172 118 119 104 171 117 164 132 131 123 159 186 111 115 116 173 178
 110 152  96 103 150 175 193 181 185 154 145 138 126 180 109 158 168  97
 182 127 130 194 125 105 102  26 179  28 183 155 112 120 137 124 187 190
 113 162 134 169 189   8 144 191 184 177   5  99 133  93  92  10 100 156
 198 106 153 146 128   7 121 160 107  90  27 197 136 139 122 157 149 135
  30 114  98 192 163  34  95 141  31 199  94 108  29 268 247 253 226 244
 239 245 204 231 238 258 230 254 265  71 223 246 250 266 240 205 261 259
 241 260 234 251 225 161 237 262 248 255 220 227 206 224 249 235 228 263
   2 270 232 252 207 200 269 233 256 273 272 242 264 208 214 222 271 203
 221 202 216 201 257 229 210 217  75 213  73  76 267 211 215  77 236  82
   6 209 274   1 243 212 275  80 276   9 279  12 280  88 277  85  84 219
  24  21 282  41 294  49 329 307 303 331 308 300  64 314 287 330 332 302
 323 318 333  60 326 335 313 312 305 325 327 336 309 328 322  39 316 292
 295 310 306 320 317 289  57 321 142 339 301 315 337 334 340 319  17  74
 148 341 299 344 342 324 345 346 304 281 343 338  14 347  15 291 348 349
 285 350 284  25 283 278  81   4  87  83  79  70  13 293  37  78  63  22
 296 355  66  19  35 360 357 354 351 362 358 365 298 286 364 363  47 361
 288 366 356 352 359 297 367 353 368  42 290  67 371 370 369  50  36 373
 374 372 311 375 378  59 379  40  18  43  20  69  38 385  56  55  44 391
  72 390  32  62 399 393  65 377 395 388 389 386  61 412 405 434 394 382
 459 440 397 383  68 461 462 463 422  51 457 430 442 403 454 428 392 410
 401 474 475 477 478  54 476 380 479  45  46 495  58  48 518  52 515 520
 511 536 387 218  33 544 435 436 555 433 446 558 469 616 561 553 384 592
 467 585 480 421 667 626 426 595 381 376 648 521 452 449 633 398  53 460
 670 551 414 557 687 404 651 686 425 504 578 674 416 586 411 756 450 745
 514 417 424 776 396 683 529 439 415 456 407 458 532 481 791 701 531 792
 413 445 535 784 419 455 491 431 542 470 472 717 437   3 782 728 828 524
 562 761 492 775 579 493 464 760 466 465 656 831 490 432 655 427 749 838
 769 587 778 854 779 850 771 594 842 589 603 484 489 486 409 444 680 808
 485 503 690 772 774 526 420 528 500 826 804 508 547 805 541 543 871 550
 530]
previous : [  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
poutcome : [0 1 2 3]
y : [0 1]

In [16]:
scale = ['age','job','marital','education','balance','contact','day','month','duration','campaign','pdays','previous','poutcome']

In [17]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()

In [18]:
data[scale] = scaler.fit_transform(data[scale])
unique_values_column(data)

age : [0.51948052 0.33766234 0.19480519 0.37662338 0.22077922 0.12987013
 0.31168831 0.32467532 0.2987013  0.14285714 0.45454545 0.50649351
 0.42857143 0.35064935 0.54545455 0.49350649 0.18181818 0.09090909
 0.28571429 0.27272727 0.44155844 0.36363636 0.23376623 0.4025974
 0.53246753 0.24675325 0.41558442 0.46753247 0.48051948 0.38961039
 0.07792208 0.25974026 0.16883117 0.15584416 0.11688312 0.20779221
 0.06493506 0.1038961  0.55844156 0.05194805 0.03896104 0.02597403
 0.62337662 0.57142857 0.84415584 0.74025974 0.63636364 0.67532468
 0.61038961 0.64935065 0.5974026  0.66233766 0.7012987  0.68831169
 0.01298701 0.75324675 0.87012987 0.58441558 0.93506494 0.83116883
 0.71428571 0.72727273 0.77922078 0.80519481 0.98701299 0.79220779
 0.76623377 0.88311688 1.         0.81818182 0.         0.92207792
 0.85714286 0.8961039  0.96103896 0.97402597 0.90909091]
job : [0.         0.09090909 0.18181818 0.27272727 0.36363636 0.45454545
 0.54545455 0.63636364 0.72727273 0.81818182 0.90909091 1.        ]
marital : [0.  0.5 1. ]
education : [0.         0.33333333 0.66666667 1.        ]
default : [0 1]
balance : [0.09225936 0.07306666 0.07282153 ... 0.14729541 0.20175948 0.22126995]
housing : [1 0]
loan : [0 1]
contact : [0.  0.5 1. ]
day : [0.13333333 0.16666667 0.2        0.23333333 0.26666667 0.36666667
 0.4        0.43333333 0.46666667 0.5        0.6        0.63333333
 0.66666667 0.73333333 0.83333333 0.86666667 0.9        0.93333333
 0.96666667 0.03333333 0.06666667 0.1        0.33333333 0.53333333
 0.56666667 0.76666667 0.8        0.         0.3        0.7
 1.        ]
month : [0.36363636 0.45454545 0.54545455 0.63636364 0.81818182 0.90909091
 1.         0.         0.09090909 0.18181818 0.27272727 0.72727273]
duration : [0.05307035 0.03070354 0.01545344 ... 0.26392843 0.25335502 0.31638878]
campaign : [0.         0.01612903 0.03225806 0.06451613 0.0483871  0.08064516
 0.09677419 0.11290323 0.12903226 0.14516129 0.16129032 0.17741935
 0.19354839 0.29032258 0.20967742 0.37096774 0.24193548 0.5
 0.27419355 0.33870968 0.22580645 0.25806452 0.38709677 0.32258065
 0.67741935 0.80645161 1.         0.64516129 0.40322581 0.43548387
 0.87096774 0.79032258 0.59677419 0.35483871 0.30645161 0.4516129
 0.48387097 0.58064516 0.46774194 0.72580645 0.41935484 0.91935484
 0.51612903 0.5483871  0.53225806 0.56451613 0.61290323 0.69354839]
pdays : [0.         0.17431193 0.19151376 0.10550459 0.09977064 0.16513761
 0.16972477 0.10321101 0.16169725 0.20298165 0.11697248 0.20068807
 0.19610092 0.19266055 0.22477064 0.19036697 0.14908257 0.21674312
 0.22591743 0.1983945  0.13646789 0.13761468 0.12041284 0.19724771
 0.1353211  0.18922018 0.15252294 0.15137615 0.14220183 0.18348624
 0.21444954 0.12844037 0.13302752 0.13417431 0.19954128 0.20527523
 0.12729358 0.17545872 0.11123853 0.11926606 0.17316514 0.20183486
 0.22247706 0.2087156  0.21330275 0.17775229 0.16743119 0.15940367
 0.1456422  0.20756881 0.12614679 0.18233945 0.19380734 0.11238532
 0.20986239 0.14678899 0.15022936 0.22362385 0.14449541 0.12155963
 0.11811927 0.0309633  0.20642202 0.03325688 0.21100917 0.17889908
 0.12958716 0.13876147 0.15825688 0.14334862 0.21559633 0.2190367
 0.13073394 0.18692661 0.15481651 0.19495413 0.21788991 0.0103211
 0.1662844  0.22018349 0.21215596 0.20412844 0.00688073 0.1146789
 0.15366972 0.10779817 0.10665138 0.01261468 0.11582569 0.18004587
 0.22821101 0.12270642 0.1766055  0.16857798 0.14793578 0.00917431
 0.13990826 0.18463303 0.12385321 0.1043578  0.03211009 0.22706422
 0.15711009 0.16055046 0.14105505 0.18119266 0.17201835 0.1559633
 0.03555046 0.13188073 0.11353211 0.22133028 0.18807339 0.04013761
 0.11009174 0.16284404 0.03669725 0.2293578  0.10894495 0.125
 0.03440367 0.30848624 0.28440367 0.2912844  0.2603211  0.2809633
 0.27522936 0.28211009 0.23509174 0.26605505 0.27408257 0.29701835
 0.26490826 0.29243119 0.30504587 0.08256881 0.25688073 0.28325688
 0.28784404 0.30619266 0.27637615 0.23623853 0.30045872 0.29816514
 0.27752294 0.29931193 0.26949541 0.28899083 0.25917431 0.18577982
 0.27293578 0.3016055  0.28555046 0.29357798 0.25344037 0.26146789
 0.23738532 0.25802752 0.28669725 0.2706422  0.26261468 0.30275229
 0.00344037 0.31077982 0.26720183 0.29013761 0.23853211 0.23050459
 0.30963303 0.26834862 0.29472477 0.31422018 0.31307339 0.27866972
 0.30389908 0.2396789  0.24655963 0.25573394 0.31192661 0.23394495
 0.25458716 0.23279817 0.24885321 0.23165138 0.29587156 0.26376147
 0.24197248 0.25       0.08715596 0.24541284 0.08486239 0.08830275
 0.30733945 0.24311927 0.24770642 0.08944954 0.27178899 0.09518349
 0.00802752 0.24082569 0.31536697 0.00229358 0.27981651 0.24426606
 0.31651376 0.09288991 0.31766055 0.01146789 0.32110092 0.01490826
 0.32224771 0.10206422 0.31880734 0.09862385 0.09747706 0.25229358
 0.02866972 0.02522936 0.32454128 0.04816514 0.33830275 0.05733945
 0.37844037 0.35321101 0.34862385 0.38073394 0.3543578  0.34518349
 0.07454128 0.36123853 0.33027523 0.37958716 0.38188073 0.34747706
 0.37155963 0.36582569 0.38302752 0.06995413 0.375      0.3853211
 0.36009174 0.35894495 0.35091743 0.37385321 0.37614679 0.38646789
 0.35550459 0.37729358 0.37041284 0.04587156 0.36353211 0.33600917
 0.33944954 0.35665138 0.35206422 0.36811927 0.3646789  0.33256881
 0.06651376 0.36926606 0.16399083 0.38990826 0.34633028 0.36238532
 0.38761468 0.38417431 0.39105505 0.36697248 0.0206422  0.08600917
 0.17087156 0.39220183 0.3440367  0.3956422  0.39334862 0.37270642
 0.39678899 0.39793578 0.34977064 0.3233945  0.39449541 0.38876147
 0.01720183 0.39908257 0.01834862 0.33486239 0.40022936 0.40137615
 0.32798165 0.40252294 0.32683486 0.02981651 0.32568807 0.31995413
 0.0940367  0.00573394 0.10091743 0.09633028 0.09174312 0.08142202
 0.01605505 0.33715596 0.04357798 0.09059633 0.0733945  0.02637615
 0.34059633 0.40825688 0.07683486 0.02293578 0.0412844  0.41399083
 0.41055046 0.40711009 0.40366972 0.4162844  0.41169725 0.41972477
 0.34288991 0.32912844 0.41857798 0.41743119 0.05504587 0.41513761
 0.33142202 0.42087156 0.40940367 0.40481651 0.41284404 0.34174312
 0.42201835 0.4059633  0.42316514 0.04931193 0.3337156  0.07798165
 0.4266055  0.42545872 0.42431193 0.05848624 0.04243119 0.42889908
 0.43004587 0.42775229 0.35779817 0.43119266 0.43463303 0.06880734
 0.43577982 0.04701835 0.02178899 0.05045872 0.02408257 0.08027523
 0.04472477 0.44266055 0.06536697 0.06422018 0.0516055  0.44954128
 0.0837156  0.4483945  0.03784404 0.07224771 0.4587156  0.45183486
 0.07568807 0.43348624 0.45412844 0.44610092 0.44724771 0.44380734
 0.07110092 0.47362385 0.46559633 0.49885321 0.45298165 0.43922018
 0.52752294 0.50573394 0.45642202 0.44036697 0.07912844 0.52981651
 0.5309633  0.53211009 0.48509174 0.05963303 0.52522936 0.49426606
 0.50802752 0.46330275 0.52178899 0.49197248 0.45068807 0.47133028
 0.46100917 0.54472477 0.54587156 0.54816514 0.54931193 0.06307339
 0.54701835 0.43692661 0.55045872 0.05275229 0.05389908 0.56880734
 0.06766055 0.05619266 0.59518349 0.06077982 0.59174312 0.59747706
 0.58715596 0.61582569 0.44495413 0.25114679 0.03899083 0.625
 0.5        0.50114679 0.63761468 0.49770642 0.51261468 0.64105505
 0.53899083 0.70756881 0.64449541 0.6353211  0.44151376 0.68004587
 0.53669725 0.67201835 0.5516055  0.48394495 0.76605505 0.7190367
 0.4896789  0.68348624 0.43807339 0.43233945 0.74426606 0.59862385
 0.51949541 0.51605505 0.72706422 0.45756881 0.06192661 0.52866972
 0.76949541 0.63302752 0.47591743 0.63990826 0.78899083 0.46444954
 0.74770642 0.78784404 0.48853211 0.57912844 0.66399083 0.77408257
 0.47821101 0.67316514 0.47247706 0.86811927 0.51720183 0.85550459
 0.59059633 0.4793578  0.48738532 0.89105505 0.45527523 0.78440367
 0.60779817 0.50458716 0.47706422 0.52408257 0.46788991 0.52637615
 0.61123853 0.55275229 0.90825688 0.80504587 0.61009174 0.90940367
 0.47477064 0.51146789 0.6146789  0.90022936 0.48165138 0.52293578
 0.56422018 0.49541284 0.62270642 0.54013761 0.54243119 0.8233945
 0.50229358 0.00458716 0.89793578 0.83600917 0.95068807 0.60206422
 0.6456422  0.87385321 0.56536697 0.88990826 0.66513761 0.56651376
 0.53325688 0.87270642 0.53555046 0.53440367 0.75344037 0.95412844
 0.56307339 0.49655963 0.75229358 0.49082569 0.86009174 0.96215596
 0.88302752 0.67431193 0.89334862 0.98050459 0.89449541 0.97591743
 0.8853211  0.68233945 0.96674312 0.6766055  0.69266055 0.55619266
 0.56192661 0.55848624 0.47018349 0.5103211  0.7809633  0.92775229
 0.55733945 0.57798165 0.79243119 0.88646789 0.88876147 0.6043578
 0.48279817 0.60665138 0.57454128 0.9483945  0.92316514 0.5837156
 0.62844037 0.92431193 0.62155963 0.62385321 1.         0.63188073
 0.60894495]
previous : [0.         0.01090909 0.00363636 0.01454545 0.00727273 0.04
 0.05818182 0.02181818 0.01818182 0.03636364 0.04363636 0.02545455
 0.06545455 0.03272727 0.07636364 0.02909091 0.05090909 0.05454545
 0.09454545 0.13454545 0.04727273 0.09090909 0.07272727 0.09818182
 0.06181818 0.08363636 0.13818182 0.10545455 0.08727273 0.18545455
 1.         0.08       0.06909091 0.10909091 0.21090909 0.10181818
 0.11636364 0.14545455 0.2        0.12727273 0.14909091]
poutcome : [0.         0.33333333 0.66666667 1.        ]
y : [0 1]

In [19]:
x = data.drop('y',axis='columns')
y = data['y']
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,0.519481,0.000000,0.0,0.000000,0,0.092259,1,0,0.0,0.133333,0.363636,0.053070,0.000000,0.000000,0.000000,0.000000
1,0.337662,0.090909,0.5,0.333333,0,0.073067,1,0,0.0,0.133333,0.363636,0.030704,0.000000,0.000000,0.000000,0.000000
2,0.194805,0.181818,0.0,0.333333,0,0.072822,1,1,0.0,0.133333,0.363636,0.015453,0.000000,0.000000,0.000000,0.000000
3,0.376623,0.272727,0.0,0.666667,0,0.086476,1,0,0.0,0.133333,0.363636,0.018707,0.000000,0.000000,0.000000,0.000000
4,0.194805,0.363636,0.5,0.666667,0,0.072812,0,0,0.0,0.133333,0.363636,0.040260,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.428571,0.090909,0.0,0.000000,0,0.080293,0,0,0.5,0.533333,0.909091,0.198658,0.032258,0.000000,0.000000,0.000000
45207,0.688312,0.454545,1.0,1.000000,0,0.088501,0,0,0.5,0.533333,0.909091,0.092721,0.016129,0.000000,0.000000,0.000000
45208,0.701299,0.454545,0.0,0.333333,0,0.124689,0,0,0.5,0.533333,0.909091,0.229158,0.064516,0.212156,0.010909,1.000000
45209,0.506494,0.272727,0.0,0.333333,0,0.078868,0,0,1.0,0.533333,0.909091,0.103294,0.048387,0.000000,0.000000,0.000000
45210,0.246753,0.181818,0.0,0.333333,0,0.099777,0,0,0.5,0.533333,0.909091,0.073404,0.016129,0.216743,0.040000,0.666667

Warning: total number of rows (45211) exceeds max_rows (20000). Limiting to first (20000) rows.

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2 , random_state = 1)

In [22]:
from sklearn import svm
from sklearn.metrics import classification_report
classifier = svm.SVC(kernel='linear',gamma='auto',C=2)
classifier.fit(x_train,y_train)
y_predict = classifier.predict(x_test);
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.90      0.99      0.94      7993
           1       0.69      0.12      0.20      1050

    accuracy                           0.89      9043
   macro avg       0.79      0.56      0.57      9043
weighted avg       0.87      0.89      0.86      9043

In [25]:
classifier = svm.SVC(kernel='linear',gamma='auto',C=1)
classifier.fit(x_train,y_train)
y_predict = classifier.predict(x_test);
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.89      0.99      0.94      7993
           1       0.65      0.09      0.16      1050

    accuracy                           0.89      9043
   macro avg       0.77      0.54      0.55      9043
weighted avg       0.86      0.89      0.85      9043

In [26]:
classifier = svm.SVC(kernel='linear',gamma='auto',C=100)
classifier.fit(x_train,y_train)
y_predict = classifier.predict(x_test);
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.90      0.99      0.94      7993
           1       0.69      0.15      0.25      1050

    accuracy                           0.89      9043
   macro avg       0.80      0.57      0.59      9043
weighted avg       0.87      0.89      0.86      9043

In [27]:
classifier = svm.SVC(kernel='poly',gamma='auto',C=1)
classifier.fit(x_train,y_train)
y_predict = classifier.predict(x_test);
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94      7993
           1       0.00      0.00      0.00      1050

    accuracy                           0.88      9043
   macro avg       0.44      0.50      0.47      9043
weighted avg       0.78      0.88      0.83      9043

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))